body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	h1 {
		color: rgb(213, 213, 118);
	}

	.books {
		.book {
			background-color: #222;
			margin-bottom: 1rem;
			padding: 1rem;
			.title {
				color: rgb(213, 172, 95);
				font-size: 1.5rem;
			}
		}
	}
}
